# Project specific files
config.yaml
data/
dist/
build/
.idea/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode

# mypy
.mypy_cache/
__pycache__
*.sqlite


# Added by cargo

/target
Cargo.lock
